.movie {
  width: calc(
    (80em - (6 * 2rem)) / 6
  ); /* 5 cards, 2rem total margin per card */
  height: auto;
  /* max-height: 27rem; */
  margin: 1rem;
  border-radius: 3px;
  box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
  background-color: var(--secondary-color);
  position: relative;
  overflow: hidden;
}

.movie img {
  width: 100%;
}

.movie .movie-info {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.5rem 0.5rem;
}

.movie .movie-info h3 {
  margin-top: 0;
  font-size: 1rem;
  max-height: 4rem; /* Adjust as needed */
  overflow: hidden;
  /* text-overflow: ellipsis; */
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines to display before cutting off text */
  -webkit-box-orient: vertical;
}

.movie .movie-info span {
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.movie .movie-info span.green {
  color: green;
}

.movie .movie-info span.orange {
  color: orange;
}

.movie .movie-info span.red {
  color: red;
}

.overview {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  padding: 1rem;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
  font-size: 0.8rem;
  overflow: auto;
}

.movie:hover .overview {
  transform: translateY(0);
}
