.browse-container .browse-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 80em;
  height: 100%;
  margin: 0 auto;
}

.browse-container {
  background-color: var(--primary-color);
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.browse-container .pagination{
  display: flex;
  color: white;
  margin: 0.625rem 1.875rem;
  align-items: center;
  justify-content: center;
}

.pagination .page{
  padding: 1.25rem;
}