.browse-container .browse-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 80em;
  margin: 0 auto;
}

.browse-container {
  background-color: var(--primary-color);
  align-items: center;
  width: 100%;
}
