.wrapper .remember {
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
  margin: -0.94rem 0 0.94rem;
}

.remember label input {
  accent-color: white;
  margin-right: 0.25rem;
}

.remember-forget a {
  color: white;
  text-decoration: none;
}

.remember-forget a:hover {
  text-decoration: underline;
}
