.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-color);
    color: white;
    border-radius: 0.625rem;
    padding: 1.25rem;
    box-shadow: 0 0 0.625rem 0.313rem var(--quaternary-color);
    width: 20rem;
    margin: 1rem;
  }
  
  .profile-image img {
    width: 15rem;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.25rem;
  }
  
  .profile-info h2, .profile-info p {
    margin: 0;
    padding: 0.313rem 0;
  }
