header {
    display: flex;
    justify-content: space-between;
    padding: 0rem;
    background-color: #333;
    color: white;
    justify-content: right;
    border-radius: 0%;
    margin-bottom: 20px;
  }
  
  header button {
    color: white;
    border: none;
    cursor: pointer;
    margin: 5px 5px;
  }
  